html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color:#1a1a1a;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    background-image: url('netflixhome.png');
    background-size: cover;
    text-align:left;
    padding: 240px 0;
     z-index: -1;
}
.hero h2,h4 {
    position: relative;
    margin-bottom: 20px;
    margin-left: 130px;
    margin-top: 50px;
    color: #f2f2f2;
    text-shadow: 15px 15px 30px  black;
    font-weight: bold;
}
   .topleft {
      position: absolute;
      top: 5px;
      left: 70px;
      font-size: 18px;
    }
   .topright {
      position: absolute;
      top: 30px;
      right: 70px;
    }


.cta-button {
    display: inline-block;
    padding: 10px 40px 10px 20px;
    background-color: #e60000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 8px;
    font-weight: bold;
}

.cta-button:hover {
    background-color:#ff3333;
}

.container1 {
  position: relative;
  display: inline-block;
  width: 175px;
  margin-left:4px;
  margin-bottom:25px;
}

.image1 {
  height:250px;
  width:175px;
  border-radius:5px;
  box-shadow: 0 2px 6px black;
  border:1px solid black;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #595959;
  overflow: hidden;
  height:0px;
  width:175px;
  transition: .4s ease;
  border-radius:2px;
  border:1px solid black;
  opacity :0.95;
}

.container1:hover .overlay1 {
  height: 10%;
}
.text {
  color: white;
  overflow: hidden;
  text-align: center;
}





    footer {
      text-align: center;
      padding: 10px;
  
      color:white;
      bottom: 0;
      width: 100%;
    }
